<div class="w3-main w3-theme-l4" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16 w3-border w3-hover-shadow">
        <label>
          <input class="w3-theme-l4" (ngModelChange)="onDistanceChange($event)" [ngModel]="distanceBuffer" title="distance" type="number">
        </label>
        <h4>Distance Buffer (km)</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16 w3-border w3-hover-shadow">
        <label>
          <input class="w3-theme-l4" (ngModelChange)="onDurationChange($event)" [ngModel]="durationBuffer" title="duration" type="number">
        </label>
        <h4>Duration Buffer (h)</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16 w3-center w3-border w3-hover-shadow" >
        <div class="w3-dropdown-hover w3-hide-small w3-center w3-margin-top w3-margin-bottom w3-blue" >
          <button class="w3-button w3-theme-l4" title="Notifications">{{algorithms[selectedAlgorithm].name}}<i class="fa fa-caret-down"></i></button>
          <div class="w3-dropdown-content w3-card-4 w3-bar-block w3-center w3-theme-l4">
            <button (click)=selectAlgorithm(0) class="w3-bar-item w3-button w3-theme-l4">Custom</button>
            <button (click)=selectAlgorithm(1) class="w3-bar-item w3-button w3-theme-l4">Brut Force</button>
            <!--<button (click)=selectAlgorithm(2) class="w3-bar-item w3-button">Annealing</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16 w3-border w3-hover-shadow">
        <label>
          <input class="w3-theme-l4" [ngModel]="sourceCity?.id" disabled title="sourceId" type="text">
        </label>

        <h4>Source City</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16 w3-border w3-hover-shadow">
        <label>
          <input class="w3-theme-l4" [ngModel]="destinationCity?.id" disabled title="destinationId" type="text">
        </label>

        <h4>Destination City</h4>
      </div>
    </div>

    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16 w3-center w3-border w3-hover-shadow">
        <button class="w3-button w3-theme-l4 w3-padding-large w3-margin-top w3-margin-bottom" (click)=getRouteByRouter()>Find route</button>
      </div>
    </div>

  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third w3-border w3-hover-shadow w3-blue"
           style="width: 100%; height: 100%">
        <div class="w3-row-padding w3-margin-bottom ">
          <div class="w3-quarter">
            <h5>Map</h5>
          </div>
          <div *ngIf="currentRoute !== null" class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-10 w3-margin-top w3-hover-shadow">
              <h5>
                Route distance: {{currentRoute.distance / 1000}} km
              </h5>
            </div>
          </div>
          <div *ngIf="currentRoute !== null" class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-10  w3-margin-top w3-hover-shadow">
              <h5>
                Route duration: {{currentRoute.duration / 60}} min
              </h5>
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 700px">
          <div class="map"
               style="height: 100%; width: 100%"
               leaflet
               [leafletOptions]="options"
               [(leafletCenter)]="center"
               (leafletMapReady)="onMapReady($event)"
               [(leafletZoom)]="zoom">
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

