<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <input title="latitude" type="number" [ngModel]="center.lat" (ngModelChange)="onLatChange($event)">
        <h4>Latitude</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <input title="longitude" type="number" [ngModel]="center.lng" (ngModelChange)="onLngChange($event)">
        <h4>Longitude</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <input title="zoom" type="number" [(ngModel)]="zoom">
        <h4>Zoom</h4>
      </div>
    </div>
    <div class="w3-quarter">

    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third"
           style="width: 100%; height: 100%">
        <h5>Map</h5>
        <div style="width: 100%; height: 700px">
          <div class="map"
               style="height: 100%; width: 100%"
               leaflet
               [leafletOptions]="options"
               [(leafletCenter)]="center"
               [(leafletZoom)]="zoom">
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

